<div class="container">
    <div class="row row-resultado">

            <div class="col-md-3 col-sm-12">
                <figure>
                    <img src="https://r-cf.bstatic.com/images/hotel/max1280x900/211/211371834.jpg" alt="imagen" srcset="">
                </figure>
              </div>
              <div class="col-md-6 col-sm-12">
                <h5 class="title">Hotel Cardamomo</h5>
                <p>
                    <a href="#soria">Soria</a> · 
                    <a href="#mostrar-en-mapa">Mostrar en mapa</a> · 
                    <span class="distancia">a 20km del centro</span>
                </p>
                <p class="resumen">
                    El Hotel Cardamomo está situado en Soria, a 8 minutos a pie del centro histórico de la localidad. Ofrece habitaciones elegantes con WiFi gratuita, TV vía satélite y baño privado.
                </p>
              </div>
              <div class="col-md-3 col-sm-12">
                <h6>Muy bien</h6>
                <p class="comentarios">703 comentarios</p>
                <button class="btn btn-info">Mostrar precios</button>
              </div>
    </div>

    <div class="row row-resultado">

        <div class="col-md-3 col-sm-12">
            <figure>
                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/213/213483546.jpg" alt="imagen" srcset="">
            </figure>
          </div>
          <div class="col-md-6 col-sm-12">
            <h5 class="title">Motel Stay True</h5>
            <p>
                <a href="#soria">Soria</a> · 
                <a href="#mostrar-en-mapa">Mostrar en mapa</a> · 
                <span class="distancia">a 26km del centro</span>
            </p>
            <p class="resumen">
                El Motel Stay True está situado en Soria, a 12 minutos a pie del centro histórico de la localidad. Ofrece habitaciones elegantes con WiFi gratuita, TV vía satélite y baño privado.
            </p>
          </div>
          <div class="col-md-3 col-sm-12">
            <h6>Bien</h6>
            <p class="comentarios">543 comentarios</p>
            <button class="btn btn-info">Mostrar precios</button>
          </div>
</div>
</div>