.navbar.bg-light{ color: #ffffff !important;}
.navbar.bg-light a{color: white;}
.bg-dark{background-color: #003580!important; color:#ffffff}
.container-naigation{margin-bottom: 3rem;}
.align-center{text-align: center;}
.col{    
    width: 13rem;
    max-width: 13rem;
}
.row{justify-content: center;}
.row .col:nth-child(1){border-bottom: 3px solid #b2d8fc;}