<nav class="navbar navbar-light bg-light bg-dark">
    <a class="navbar-brand" href="#">REPOBLADOS </a>
</nav>

<div class="container-fluid bg-dark container-naigation">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="align-center"><i class="fas fa-hotel"></i> Turismo</p>
            </div>
            <div class="col">
                <p class="align-center"><i class="fas fa-swimmer"></i> Actividades</p>
            </div>
            <div class="col">
                <p class="align-center"><i class="fas fa-coins"></i> Inversiones</p>
            </div>
            <div class="col">
                <p class="align-center"><i class="fas fa-map-marked-alt"></i> Mapa completo</p>
            </div>
            
        </div>
    </div>
</div>