<div class="container-filtros">
    <h5>Filtrar por: </h5>

    <hr>

    <!--filtros populares-->
    <p class="title-filtro">Filtros populares</p>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="casasRurales">
                <label class="custom-control-label" for="casasRurales">Casas rurales</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">121</span></div>
    </div>


    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Hoteles</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">69</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Casas y chalets</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">239</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Piscina</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">18</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Apartamentos</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">110</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Villas</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">110</span></div>
    </div>


    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">Playa</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">55</span></div>
    </div>

    <hr>

    <!--Estrellas-->
    <p class="title-filtro">Estrellas</p>
    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">1 estrella</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">24</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">2 estrellas</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">55</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">3 estrellas</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">241</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">4 estrellas</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">125</span></div>
    </div>

    <div class="custom-control-flex">
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="hoteles">
                <label class="custom-control-label" for="hoteles">5 estrellas</label>
            </div>
        </div>
        <div class="col-2"><span class="cantidad">78</span></div>
    </div>

    <hr>

    <!--Actividades-->
    <p class="title-filtro">Actividades</p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="senderismo">
        <label class="custom-control-label" for="senderismo">Senderismo</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="pesca">
        <label class="custom-control-label" for="pesca">Pesca</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="equitacion">
        <label class="custom-control-label" for="equitacion">Equitación</label>
    </div>
    <p class="vermas">Ver más...</p>

    <hr>

    <!--Recepción 24horas-->
    <p class="title-filtro">Recepción 24 horas</p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="recepcion24h">
        <label class="custom-control-label" for="recepcion24h">Recepción 24h. todos los días</label>
    </div>

</div>