<div class="container container-buscador-previo">

    <div class="buscador">
        <div class="row">
            <div class="col1 col-md-3 col-sm-12">
                
                <!--BUSCADOR-->
                <app-buscadorinner></app-buscadorinner>

                <!-- FILTROS -->
                <app-filtros></app-filtros>
            </div>



            <div class="col2 col-md-9 col-sm-12">
                <app-contenedor-resultados></app-contenedor-resultados>
            </div>



        </div>
    </div>
</div>