/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~normalize.css';


*{box-sizing: border-box;padding: 0; margin: 0;}
html, body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
body{
    background: #fff;
}
:host{
    background: green;
}